@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}


  .desktopBar{
    display: block;
  }

  .logo {
    width: 4vw;
    margin: 10px 40px;
    display: block;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 10.5vw;
  }

  @media screen and (min-width: 1280px) and (max-width: 1439px)  {
    .sidebar {
      margin-left: 6vw;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 1600px) {
    .sidebar {
      margin-left: 8.5vw;
    }
  }

  @media screen and (max-width: 1200px)  {
    .sidebar {
      margin-left: 1.5vw;
    }
  }
  
  .sidebar-top-logo {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #ffffff;
    user-select: none;
  }
  
  .sidebar ul a {
    display: block;
    width: 100%;
    line-height: 80px; 
    font-size: 20px;
    color: rgb(28, 28, 28);
    padding-left: 40px;
    padding-right: 10px; 
    box-sizing: border-box;
    transition: .4s;
    text-decoration: none;
  }
  
  ul li:hover a {
    padding-left: 50px;
  }
  
  .sidebar ul a i {
    margin-right: 16px;
  }
  
  
  .login-button {
    width: 140px;
    text-align: center;
    padding: 15px;
    background-color: #E6CCB2;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    margin: 20px 40px 40px 40px;
    transition: 0.5s;
}

  
  
    .login-button:hover {
      background-color: #7F5539; /* Changement de couleur lorsque la souris passe dessus */
      transition: 0.5s;
    }
  
    .post-button {
      text-align: center;
      padding: 15px 25px; 
      background-color: #E6CCB2;
      color: white;
      border: none;
      border-radius: 50px;
      margin: 40px;
      text-decoration: none;
      font-size: 15px;
      transition: 0.5s;
    }
    
      .post-button:hover {
        background-color: #7F5539; /* Changement de couleur lorsque la souris passe dessus */
        transition: 0.5s;
      }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.mobileBar{
  display: none;
}

@media screen and (max-width: 768px) {
  .desktopBar {
    display: none;
  }

  .mobileBar {
    display: block;
  }


  .profile-icon {
    padding: 5px;
    color: #7F5539;
  }
    
  .logo img {
    max-width: 70px; /* Ajustez la largeur maximale du logo selon vos besoins */
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Styles for the tabbar/navbar */
  .tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14vw;;
    background-color: #7F5539; /* Couleur de fond de la navbar */
  }
  
  .tabbar ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    height: 100%; 
    padding: 0px;
  }

  .tabbar li {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    list-style: none;
  }
  
  .tabbar li.active {
    background-color: #E6CCB2; /* Couleur de fond pour l'élément actif */
  }
  
  
  .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff; /* Couleur de fond de la topbar */
      padding: 10px;
    }
    
    .profile-icon {
      padding: 5px;
      color: #7F5539;
    }
      
    .logo {
      display: flex;
      justify-content: center; /* Centre le contenu (le logo) horizontalement */
      margin-right: 40px;
    }
    
    .logo img {
      max-width: 70px; /* Ajustez la largeur maximale du logo selon vos besoins */
    }
    
    
  .icons-nav-mobile {
    font-size: 24px;
    color: white;
  }
  
  .profile-icon a i.fas.fa-user {
      color: #7F5539;
      font-size: 25px;
      margin-left: 30px;
    }
  
    ul li:hover a {
      padding-left: 0px;
    }
  
    
}



