@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
}

.profilPic {
    border-radius: 50%;
    width: 20%;
    margin-left: 3%;
    border: solid 4px white;
    margin-top: -12%;
}

.profilEdit {
    border-radius: 40px;
    border: 1px solid rgb(205, 203, 203);
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    font-size: 2em;
    width: 20%;
    height: 10%;
    font-size: 1em;
    margin-left: 50%; 
    margin-top: -10%;
}

.profilEdit:hover{
    background:rgb(230, 228, 228);
    cursor: pointer;
}

.profilTop {
    display: flex;
}

.follow, .isFollow {
    border-radius: 40px;
    border: 1px solid rgb(205, 203, 203);
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    font-size: 2em;
    width: 20%;
    height: 10%;
    font-size: 1em;
    margin-left: 74%; 
    margin-top: -10%;
    transition: 0.5s;
}

.isFollow {
    background: #E6CCB2;
}

.follow:hover {
    background:rgb(230, 228, 228);
    cursor: pointer;
    transition: 0.5s;
}

.isFollow:hover, .isCertif:hover, .isBanned:hover {
    background:rgb(245, 176, 176);
    cursor: pointer;
    transition: 0.5s;
}


.edit {
    padding-top:-10%;
}

.bio {
    margin-left: 2%;
}

.profilAdmin {
    display: flex;
    width: 100%;
}

.certif, .ban, .isCertif, .isBanned {
    border-radius: 40px;
    border: 1px solid rgb(205, 203, 203);
    padding: 15px 30px;
    background: rgb(255, 255, 255);
    font-size: 2em;
    width: 100%;
    height: 100%;
    font-size: 1em;
    transition: 0.5s;
}

.ban, .isBanned {
    margin-left: 2vw;
}

.certif:hover, .ban:hover {
    background:rgb(230, 228, 228);
    cursor: pointer;
    transition: 0.5s;
}

.container{
    width: 45%;
    border-right: solid 0.5px gray;
    border-left: solid 0.5px gray;
    position: sticky;
    top: 0;
    left: 25%;
    right: 25%;
}

.profil{
    margin: 0px;
    padding-left: 10px;
    font-size: 1.5em;
}

.post {
    font-size: 1em;
    padding-left: 10px;
    margin-bottom: 50px;
    margin-left: 2.5vw;
}
.emptyPost {
text-align: center;

}

.followProfil {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}


.followProfil:hover {
    text-decoration: underline;
    color: #E6CCB2;
    transition: 0.5s;
}

.clickable-post:hover {
    cursor: pointer;
}

.post-link {
    text-decoration: none;
    color: black;
}

.toggle {
    font-family: arial, sans-serif;
  }


  .toggle .tabs {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    width: 100%;
    overflow: hidden;
    height: 36px;
    line-height: 36px;
  }
  .toggle .tabs .tab {
    float: left;
    text-align: center;
    background: white;
    color: #9b9a9a;
    width: 160px;
    height: 31px;
    margin: 2px 14px 14px 0px;
    padding: 0 8px;
    cursor: pointer;
  }
  .toggle .tabs .tab.active {
    color: black;
    border-bottom: 5px solid #DDB892;
    border-radius: 4px;
  }
  
  .toggle .panels .panel {
    display: none;
  }

  
  .unitPanel, .unitPanelPost{
    border-bottom: solid 1px rgb(209, 209, 209) ;
    padding: 18px 10px 18px 10px;
  }

  .unitPanel:hover, .unitPanelPost:hover{
    background-color: rgb(240, 240, 240);
    transition: 0.5s;
  }

  .unitPanelPost {
    max-height:100% ;
  }
  
  .toggle .panels .panel:first-child {
    display: block;
  }

.userPost {
    display: flex;
    align-items: flex-start;
}

  .avatarUserPost {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
  }

  .linkAvatarUser:hover {
    opacity: 0.7;
  }
  
.userName {
    font-size: 17px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration-line: none;
}

.userName:hover{
    text-decoration-line: underline;
}

.userPost .postTime{
    color: rgb(124, 121, 121);
    margin: 4px 0px 0px 4px;
    font-size: 16px;
}

.postTimePost {
    color: rgb(124, 121, 121);
    margin: 0px 0px 0px 4px;
}

.verified {
    width: 16px;
    height: 16px;
    margin: 4px 0px 0px 4px;
}

.verifiedNickname {
    width: 3%;
    height: 3%;
    margin: 4px 0px 0px 4px;
}

.profilNickname {
    display: flex;
    margin-left: -10px;
}

.profilDate {
    display: flex;
}

.postContent{
    margin: -34px 0px 0px 62px;
}

.textPost{
    font-size: 14px;
}

.imgPost{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 350px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 0px;
}

.likePost, .commentPost {
    display: flex;
    align-items: flex-start;
    margin: 14px 0px 0px 62px;
    cursor: pointer;
    transition: 0.5s;
}

.likePost:hover{
    color: red;
    transition: 0.5s;
}

.likePost.like-active .material-symbols-outlined.like-button {
    color: black;
    transition: 0.5s;
}

.likePost.like-active .material-symbols-outlined.like-button:hover {
    color: red;
    transition: 0.5s;
}

.likePost.like-active .material-icons-outlined.like-button {
    color: red;
    transition: 0.5s;
}

.numberLike{
    margin: 2.5px 0px 0px 4px;
    font-size: 14px;
}

.likecomment {
    display: flex;
}

.image-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  
  .mfp-with-zoom .mfp-container,
  .mfp-with-zoom.mfp-bg {
      opacity: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.3s ease-out; 
      -moz-transition: all 0.3s ease-out; 
      -o-transition: all 0.3s ease-out; 
      transition: all 0.3s ease-out;
  }
  
  .mfp-with-zoom.mfp-ready .mfp-container {
          opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
          opacity: 0.8;
  }
  
  .mfp-with-zoom.mfp-removing .mfp-container, 
  .mfp-with-zoom.mfp-removing.mfp-bg {
      opacity: 0;
  }
  
  .mfp-no-margins img.mfp-img {
      padding: 0;
  }

  .mfp-no-margins .mfp-figure:after {
      top: 0;
      bottom: 0;
  }

  .mfp-no-margins .mfp-container {
      padding: 0;
  }
  
  .mfp-title {
    text-align: center;
    padding: 6px 0;
  }

  .image-source-link {
    color: #DDD;
  }

/* POP UP EDIT */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.popup {
    display: grid;
    grid-template-rows: repeat(6, auto); /* 4 lignes pour 4 champs */
    gap: 10px;
    padding: 20px;
    position: absolute;
    display: none;
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 42vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    z-index: 1000;
    top: 22vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup label {
    display: block;
}

.popup input[type="text"],
.popup textarea,
.popup input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.reponse {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-right: 8px;
}

.closeButton {
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 25%;
    transition: 0.5s;
    background-color: #ffffff;
    height: 2vw;
    margin-top: 1vw;
}

.closeButton:hover {
    background-color: #efefef;
    transition: 0.5s;
}

.editUser {
    text-align: center;
    padding: 15px 25px; 
    background-color: #E6CCB2;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 1vw;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}
  
.editUser:hover {
    background-color: #7F5539;
    transition: 0.5s;
    cursor: pointer;
}


.newComment {
    text-align: center;
    padding: 15px 25px; 
    background-color: #E6CCB2;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}

.deleteComment {
    background: none;
    margin-left: 1vw;
    border: none;
}

.deleteComment span {
    color: rgb(194, 194, 194);
    transition: 0.5s;
}

.deleteComment span:hover {
    color: #6c4a33;
    cursor: pointer;
    transition: 0.5s;
}

#submitButton.active {
    background-color: #7F5539;
    transition: 0.5s;
    cursor: pointer;
}

#submitButton.active:hover {
    background-color: #6c4a33;
    transition: 0.5s;
    cursor: pointer;
}

.bannerEdit {
    width: 100%;
}

.profilPicEdit {
    border-radius: 50%;
    width: 20%;
    margin-left: 3%;
    border: solid 4px white;
    margin-top: -12%;
}

.popupTitle {
    display: flex;
}

.title {
    margin-left: 1vw;
}

.topPost {
    display: flex;
    margin-left: 1vw;
}

.arrowBack {
    margin-right: 1vw;
    margin-top: 3%;
    cursor: pointer;
    border-radius: 25%;
    transition: 0.5s;
    height: 24px;
}

.arrowBack:hover {
    background-color: #efefef;
    transition: 0.5s;
}

.arrowBackProfil {
    margin-right: 1vw;
    margin-top: 1%;
    cursor: pointer;
    border-radius: 25%;
    transition: 0.5s;
    height: 24px;
}

.arrowBackProfil:hover {
    background-color: #efefef;
    transition: 0.5s;
}

  @media only screen and (max-width: 500px) {
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        position: static;
        border-right: none;
        border-left: none;
    }

    .profilPic {
        width: 20%;
        margin-left: 0;
        margin-top: -10%;
    }

    .banner {
      width: 100%;
    }

    .profilEdit {
        width: 40%;
        margin-left: 30%;
        margin-top: -5%;
    }

    .toggle .tabs .tab {
        width: 100%;
        margin: 5px 0;
    }

    .toggle .panels .panel {
        display: block;
    }

    .verifiedNickname{
        width: 6%;
        height: 6%;
        margin: 4px 0px 0px 4px;
    }

    .profilDate {
        flex-direction: column;
    }
    
    .profilCreatedDate {
        margin-left: 0px;
    }

    .profilEdit {
        margin-left: 55%; 
    }

    .popup {
        width: 80vw;
        height: 158vw;
        top: 50%;
    }

    .hide {
        display: none;
    }

    .arrowBackProfil {
        margin-top: 2%;
        position: absolute;
        z-index: 1001;
        background-color: rgba(255, 255, 255, 0.607);
    }
}
