@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0px 120px 0px 120px;
    width: 45%;
    border-right: solid 0.5px gray;
    border-left: solid 0.5px gray;
    position: sticky;
    top: 0;
    left: 28%;
}

.accueil{
    margin-top: 0px;
    padding-left: 10px;
}

.toggle {
    font-family: arial, sans-serif;
  }


  .toggle .tabs {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    width: 100%;
    overflow: hidden;
  }
  .toggle .tabs .tab {
    float: left;
    text-align: center;
    background: white;
    color: #242424;
    width: fit-content;
    height: 31px;
    padding: 0 8px;
    cursor: pointer;
  }
  .toggle .tabs .tab.active  {
    color: black;
    border-bottom: 4px solid #DDB892;
  }
  .tab:hover{
    color: #9C6644!important;
  }
  
  .toggle .panels .panel {
    display: none;
  }

  
  .unitPanel{
    border-bottom: solid 1px rgb(209, 209, 209) ;
    padding: 18px 10px 18px 10px;
    cursor: pointer;
  }

  .unitPanel:hover{
    background-color: rgb(240, 240, 240);
    transition: 0.5s;
  }
  
  .toggle .panels .panel:first-child {
    display: block;
  }

.userPost{
    display: flex;
    align-items: flex-start;
}

  .avatarUserPost{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    object-fit: cover;
  }

  .linkAvatarUser{
    transition: 0.5s;
  }

  .linkAvatarUser:hover{
    opacity: 0.7;
    transition: 0.5s;
  }
  
.userName {
    font-size: 17px;
    font-weight: 800;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration-line: none;
}

.userName:hover {
    text-decoration-line: underline;
}

.postTime{
    color: rgb(124, 121, 121);
    margin: 4px 0px 0px 4px;
    font-size: 16px;
}

.verified {
    width: 16px;
    height: 16px;
    margin: 4px 0px 0px 4px;
}

.postContent{
    margin: -34px 0px 0px 62px;
}

.textPost{
    font-size: 14px;
}

.imgPost{
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    margin-top: 20px;
    border-radius: 20px;
}

.likePost{
    display: flex;
    align-items: flex-start;
    margin: 14px 0px 0px 62px;
    cursor: pointer;
}

.likePost:hover{
    color: red;
    transition: 0.5s;
}

.numberLike{
    margin: 2.5px 0px 0px 4px;
    font-size: 14px;
}

.image-link {
    cursor: zoom-in;
  }
  
  .image-source-link {
    color: #DDD;
  }

  @media screen and (max-width: 768px) {
    .container{
      margin: 0px 0px 0px 0px;
      width: 100%;
      border: none;
      position: sticky;
      top: 0;
  }
  
  .accueil{
      margin-top: 0px;
      padding-left: 10px;
  }
  
  .toggle {
      font-family: arial, sans-serif;
    }
  
  
    .toggle .tabs {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid grey;
      width: 100%;
      overflow: hidden;
    }
    .toggle .tabs .tab {
      float: left;
      text-align: center;
      background: white;
      color: #5e5e5e;
      width: fit-content;
      height: 31px;
      padding: 0 8px;
      cursor: pointer;
    }
    .toggle .tabs .tab.active  {
      color: black;
      border-bottom: 4px solid #DDB892;
    }
    
    .toggle .panels .panel {
      display: none;
    }
  
    
    .unitPanel{
      border-bottom: solid 1px rgb(209, 209, 209) ;
      padding: 18px 10px 18px 10px;
    }
  
    .unitPanel:hover{
      background-color: rgb(240, 240, 240);
      transition: 0.5s;
    }
    
    .toggle .panels .panel:first-child {
      display: block;
    }
  
  .userPost{
      display: flex;
      align-items: flex-start;
  }
  
    .avatarUserPost{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
    }
  
    .linkAvatarUser:hover{
      opacity: 0.7;
      transition: 0.5s;
    }
    
  .userName{
      font-size: 17px;
      font-weight: 500;
      color: black;
      font-family: 'Poppins', sans-serif;
      text-decoration-line: none;
  }
  
  .userName:hover{
      text-decoration-line: underline;
  }
  
  .postTime{
      color: rgb(124, 121, 121);
      margin: 4px 0px 0px 4px;
  }
  
  .verified{
      width: 16px;
      height: 16px;
      margin: 4px 0px 0px 4px;
  }
  
  .postContent{
      margin: -34px 0px 0px 62px;
  }
  
  .textPost{
      font-size: 14px;
  }
  
  .imgPost{
      display: block;
      margin: auto;
      width: 80%;
      height: 80%;
      margin-top: 20px;
      border-radius: 20px;
  }
  
  .likePost{
      display: flex;
      align-items: flex-start;
      margin: 14px 0px 0px 62px;
      cursor: pointer;
  }
  
  .likePost:hover{
      color: red;
      transition: 0.5s;
  }
  
  .numberLike{
      margin: 2.5px 0px 0px 4px;
      font-size: 14px;
  }
  
  .image-link {
      cursor: zoom-in;
    }
    
    .image-source-link {
      color: #DDD;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .accueil{
      margin-top: 0px;
      padding-left: 10px;
  }
  
  .toggle {
      font-family: arial, sans-serif;
    }
  
  
    .toggle .tabs {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid grey;
      width: 100%;
      overflow: hidden;
    }
    .toggle .tabs .tab {
      float: left;
      text-align: center;
      background: white;
      color: #5e5e5e;
      width: fit-content;
      height: 31px;
      padding: 0 8px;
      cursor: pointer;
    }
    .toggle .tabs .tab.active  {
      color: black;
      border-bottom: 4px solid #DDB892;
    }
    
    .toggle .panels .panel {
      display: none;
    }
  
    
    .unitPanel{
      border-bottom: solid 1px rgb(209, 209, 209) ;
      padding: 18px 10px 18px 10px;
    }
  
    .unitPanel:hover{
      background-color: rgb(240, 240, 240);
      transition: 0.5s;
    }
    
    .toggle .panels .panel:first-child {
      display: block;
    }
  
  .userPost{
      display: flex;
      align-items: flex-start;
  }
  
    .avatarUserPost{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
    }
  
    .linkAvatarUser:hover{
      opacity: 0.7;
      transition: 0.5s;
    }
    
  .userName{
      font-size: 17px;
      font-weight: 500;
      color: black;
      font-family: 'Poppins', sans-serif;
      text-decoration-line: none;
  }
  
  .userName:hover{
      text-decoration-line: underline;
  }
  
  .postTime{
      color: rgb(124, 121, 121);
      margin: 4px 0px 0px 4px;
  }
  
  .verified , .verifiedNav{
      width: 16px;
      height: 16px;
      margin: 4px 0px 0px 4px;
  }
  
  .postContent{
      margin: -34px 0px 0px 62px;
  }
  
  .textPost{
      font-size: 14px;
  }
  
  .imgPost{
      display: block;
      margin: auto;
      width: 80%;
      height: 80%;
      margin-top: 20px;
      border-radius: 20px;
  }
  
  .likePost{
      display: flex;
      align-items: flex-start;
      margin: 14px 0px 0px 62px;
      cursor: pointer;
  }
  
  .likePost:hover{
      color: red;
      transition: 0.5s;
  }
  
  .numberLike{
      margin: 2.5px 0px 0px 4px;
      font-size: 14px;
  }
  
  .image-link {
      cursor: zoom-in;
    }
    
    .image-source-link {
      color: #DDD;
    }
  } 
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }

.form-add-post {
padding: 10px 20px;
}

.divide-form {
  width: 100%;
  margin: 10px 0px;
  border: 0.5px solid #B08968;
}

.aboIndex {
  text-align: center;
}

.flux-suggestion {
  display: flex;
}

.suggestions {
  position: fixed;
  margin-left: 71.3%;
  margin-top: 1%;
  width: 20vw;
  height: 20vw;
  background-color: rgb(245 245 245);
  border-radius: 8px;
  padding: 0px 5px;
}

.suggestion-item {
  display: flex;
}

@media screen and (max-width: 767px) {
  .suggestions {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px)  {
  .suggestions {
    height: 24vw;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .suggestions {
    height: 22vw;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1900px) {
  .suggestions {
    height: 20.5vw;
  }
}

@media screen and (max-width: 1200px)  {
  .suggestions {
    height: 29vw;
  }
}


.follow-suggestion {
  border-radius: 40px;
  border: 1px solid rgb(205, 203, 203);
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  font-size: 2em;
  height: 10%;
  font-size: 1em;
  background-color: #E6CCB2;
  transition: 0.5s;
  cursor: pointer;
}

.follow-suggestion:hover {
  background-color: #7F5539;
}

.suggestion-form {
  display: block;
  margin-left: auto; 
}

.suggestions-unitPanelPost {
  max-height: 100%;
  padding: 18px 10px 18px 10px;
  transition: 0.5s;
}

.suggestions-unitPanelPost:hover {
  background-color: rgb(239, 234, 234);
  cursor: pointer;
  transition: 0.5s;
}

.suggestions-userPost {
  display: flex;
  align-items: center;
}

/* RESPONSIVE TABLETTE */
@media only screen and (min-width: 768px) and (max-width: 840px) {
  .suggestions {
    display: none;
  }

  .container{
    margin: 0px 0px 0px 0px;
    left: 25%;
}
}