@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0px 120px 0px 120px;
    width: 45%;
    border-right: solid 0.5px gray;
    border-left: solid 0.5px gray;
    position: sticky;
    top: 0;
    left: 28%;
}

.accueil{
    margin-top: 0px;
    padding-left: 10px;
}

.toggle {
    font-family: arial, sans-serif;
  }


  .toggle .tabs {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    width: 100%;
    overflow: hidden;
  }
  .toggle .tabs .tab {
    float: left;
    text-align: center;
    background: white;
    color: #9b9a9a;
    width: fit-content;
    height: 31px;
    padding: 0 8px;
    cursor: pointer;
  }
  .toggle .tabs .tab.active  {
    color: black;
    border-bottom: 4px solid #DDB892;
  }
  .tab:hover{
    color: #9C6644!important;
  }
  
  .toggle .panels .panel {
    display: none;
  }

  
  .unitPanel{
    border-bottom: solid 1px rgb(209, 209, 209) ;
    padding: 18px 10px 18px 10px;
    cursor: pointer;
  }

  .unitPanel:hover{
    background-color: rgb(240, 240, 240);
    transition: 0.5s;
  }
  
  .toggle .panels .panel:first-child {
    display: block;
  }

.userPost{
    display: flex;
    align-items: flex-start;
}

  .avatarUserPost{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    object-fit: cover;
  }

  .linkAvatarUser:hover{
    opacity: 0.7;
  }
  
.userName{
    font-size: 17px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-decoration-line: none;
}

.userName:hover{
    text-decoration-line: underline;
}

.postTime{
    color: rgb(124, 121, 121);
    margin: 4px 0px 0px 4px;
    font-size: 16px;
}

.verified{
    width: 16px;
    height: 16px;
    margin: 4px 0px 0px 4px;
}

.postContent{
    margin: -34px 0px 0px 62px;
}

.textPost{
    font-size: 14px;
}

.imgPost{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 500x;
    margin-top: 20px;
    border-radius: 20px;
}

.likePost{
    display: flex;
    align-items: flex-start;
    margin: 14px 0px 0px 62px;
    cursor: pointer;
}

.likePost:hover{
    color: red;
    transition: 0.5s;
}

.numberLike{
    margin: 2.5px 0px 0px 4px;
    font-size: 14px;
}

.image-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  
  
  /* This block of CSS adds opacity transition to background */
  .mfp-with-zoom .mfp-container,
  .mfp-with-zoom.mfp-bg {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out; 
      -moz-transition: all 0.3s ease-out; 
      -o-transition: all 0.3s ease-out; 
      transition: all 0.3s ease-out;
  }
  
  .mfp-with-zoom.mfp-ready .mfp-container {
          opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
          opacity: 0.8;
  }
  
  .mfp-with-zoom.mfp-removing .mfp-container, 
  .mfp-with-zoom.mfp-removing.mfp-bg {
      opacity: 0;
  }
  
  
  
  /* padding-bottom and top for image */
  .mfp-no-margins img.mfp-img {
      padding: 0;
  }
  /* position of shadow behind the image */
  .mfp-no-margins .mfp-figure:after {
      top: 0;
      bottom: 0;
  }
  /* padding for main container */
  .mfp-no-margins .mfp-container {
      padding: 0;
  }
  
  /* aligns caption to center */
  .mfp-title {
    text-align: center;
    padding: 6px 0;
  }
  .image-source-link {
    color: #DDD;
  }

  @media screen and (max-width: 768px) {
    .container{
      margin: 0px 0px 0px 0px;
      width: 100%;
      border: none;
      position: sticky;
      top: 0;
  }
  
  .accueil{
      margin-top: 0px;
      padding-left: 10px;
  }
  
  .toggle {
      font-family: arial, sans-serif;
    }
  
  
    .toggle .tabs {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid grey;
      width: 100%;
      overflow: hidden;
    }
    .toggle .tabs .tab {
      float: left;
      text-align: center;
      background: white;
      color: #9b9a9a;
      width: fit-content;
      height: 31px;
      padding: 0 8px;
      cursor: pointer;
    }
    .toggle .tabs .tab.active  {
      color: black;
      border-bottom: 4px solid #DDB892;
    }
    
    .toggle .panels .panel {
      display: none;
    }
  
    
    .unitPanel{
      border-bottom: solid 1px rgb(209, 209, 209) ;
      padding: 18px 10px 18px 10px;
    }
  
    .unitPanel:hover{
      background-color: rgb(240, 240, 240);
      transition: 0.5s;
    }
    
    .toggle .panels .panel:first-child {
      display: block;
    }
  
  .userPost{
      display: flex;
      align-items: flex-start;
  }
  
    .avatarUserPost{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
    }
  
    .linkAvatarUser:hover{
      opacity: 0.7;
    }
    
  .userName{
      font-size: 17px;
      font-weight: 500;
      color: black;
      font-family: 'Poppins', sans-serif;
      text-decoration-line: none;
  }
  
  .userName:hover{
      text-decoration-line: underline;
  }
  
  .postTime{
      color: rgb(124, 121, 121);
      margin: 4px 0px 0px 4px;
  }
  
  .verified{
      width: 16px;
      height: 16px;
      margin: 4px 0px 0px 4px;
  }
  
  .postContent{
      margin: -34px 0px 0px 62px;
  }
  
  .textPost{
      font-size: 14px;
  }
  
  .imgPost{
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 500x;
      margin-top: 20px;
      border-radius: 20px;
  }
  
  .likePost{
      display: flex;
      align-items: flex-start;
      margin: 14px 0px 0px 62px;
      cursor: pointer;
  }
  
  .likePost:hover{
      color: red;
      transition: 0.5s;
  }
  
  .numberLike{
      margin: 2.5px 0px 0px 4px;
      font-size: 14px;
  }
  
  .image-link {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
    }
    
    
    /* This block of CSS adds opacity transition to background */
    .mfp-with-zoom .mfp-container,
    .mfp-with-zoom.mfp-bg {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out; 
        -moz-transition: all 0.3s ease-out; 
        -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;
    }
    
    .mfp-with-zoom.mfp-ready .mfp-container {
            opacity: 1;
    }
    .mfp-with-zoom.mfp-ready.mfp-bg {
            opacity: 0.8;
    }
    
    .mfp-with-zoom.mfp-removing .mfp-container, 
    .mfp-with-zoom.mfp-removing.mfp-bg {
        opacity: 0;
    }
    
    
    
    /* padding-bottom and top for image */
    .mfp-no-margins img.mfp-img {
        padding: 0;
    }
    /* position of shadow behind the image */
    .mfp-no-margins .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    /* padding for main container */
    .mfp-no-margins .mfp-container {
        padding: 0;
    }
    
    /* aligns caption to center */
    .mfp-title {
      text-align: center;
      padding: 6px 0;
    }
    .image-source-link {
      color: #DDD;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
      margin: 0px 40px 0px 40px;
      width: 55%;
      border-right: solid 0.5px gray;
      border-left: solid 0.5px gray;
      position: sticky;
      top: 0;
      left: 23%;
  }
  
  .accueil{
      margin-top: 0px;
      padding-left: 10px;
  }
  
  .toggle {
      font-family: arial, sans-serif;
    }
  
  
    .toggle .tabs {
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid grey;
      width: 100%;
      overflow: hidden;
    }
    .toggle .tabs .tab {
      float: left;
      text-align: center;
      background: white;
      color: #9b9a9a;
      width: fit-content;
      height: 31px;
      padding: 0 8px;
      cursor: pointer;
    }
    .toggle .tabs .tab.active  {
      color: black;
      border-bottom: 4px solid #DDB892;
    }
    
    .toggle .panels .panel {
      display: none;
    }
  
    
    .unitPanel{
      border-bottom: solid 1px rgb(209, 209, 209) ;
      padding: 18px 10px 18px 10px;
    }
  
    .unitPanel:hover{
      background-color: rgb(240, 240, 240);
      transition: 0.5s;
    }
    
    .toggle .panels .panel:first-child {
      display: block;
    }
  
  .userPost{
      display: flex;
      align-items: flex-start;
  }
  
    .avatarUserPost{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0px 10px 0px 0px;
    }
  
    .linkAvatarUser:hover{
      opacity: 0.7;
    }
    
  .userName{
      font-size: 17px;
      font-weight: 500;
      color: black;
      font-family: 'Poppins', sans-serif;
      text-decoration-line: none;
  }
  
  .userName:hover{
      text-decoration-line: underline;
  }
  
  .postTime{
      color: rgb(124, 121, 121);
      margin: 4px 0px 0px 4px;
  }
  
  .verified{
      width: 16px;
      height: 16px;
      margin: 4px 0px 0px 4px;
  }
  
  .postContent{
      margin: -34px 0px 0px 62px;
  }
  
  .textPost{
      font-size: 14px;
  }
  
  .imgPost{
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 500x;
      margin-top: 20px;
      border-radius: 20px;
  }
  
  .likePost{
      display: flex;
      align-items: flex-start;
      margin: 14px 0px 0px 62px;
      cursor: pointer;
  }
  
  .likePost:hover{
      color: red;
      transition: 0.5s;
  }
  
  .numberLike{
      margin: 2.5px 0px 0px 4px;
      font-size: 14px;
  }
  
  .image-link {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
    }
    
    
    /* This block of CSS adds opacity transition to background */
    .mfp-with-zoom .mfp-container,
    .mfp-with-zoom.mfp-bg {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out; 
        -moz-transition: all 0.3s ease-out; 
        -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;
    }
    
    .mfp-with-zoom.mfp-ready .mfp-container {
            opacity: 1;
    }
    .mfp-with-zoom.mfp-ready.mfp-bg {
            opacity: 0.8;
    }
    
    .mfp-with-zoom.mfp-removing .mfp-container, 
    .mfp-with-zoom.mfp-removing.mfp-bg {
        opacity: 0;
    }
    
    
    
    /* padding-bottom and top for image */
    .mfp-no-margins img.mfp-img {
        padding: 0;
    }
    /* position of shadow behind the image */
    .mfp-no-margins .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    /* padding for main container */
    .mfp-no-margins .mfp-container {
        padding: 0;
    }
    
    /* aligns caption to center */
    .mfp-title {
      text-align: center;
      padding: 6px 0;
    }
    .image-source-link {
      color: #DDD;
    }
  } 

  .show-modal {
    position: fixed;
    font-weight: 600;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
    bottom: 10%;
    right: 20%;
}
  
  .close-modal {
    font-size: 35px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  
  .hidden {
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 5%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  .modal-post {
    display: flex;
    padding: 10px 0px;
    align-items: center;
  }

  .modal-post img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    object-fit: cover;
  }

  .modal-post input {
    width: -webkit-fill-available;
    border: none;
    outline: none;
  }

  .submit-modal-post {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    padding: 10px 25px; 
    background-color: #E6CCB2;
    color: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
  }

  .submit-modal-post:hover {
    background-color: #7F5539
  }

.form-add-post {
padding: 10px 20px;
}

.divide-form {
  width: 100%;
  margin: 10px 0px;
  border: 0.5px solid #B08968;
}